img{
	width: 100%; 
}
div{
	display: inline-block;
	background-color: lightsteelblue;
	width: 27%;
	border-left-style: groove;
	border-left-width: 22px;
	height: 679px;
	vertical-align: top;
	padding: 15px;
	margin: 10px;
	border-color: lightcyan;

}
.films{ 
	background-color: mintcream;
}
